<div layout="row" layout-align="space-between center">
  <h1 class="md-display-2">Persons</h1>

  <div layout="column" layout-align="center end">
    <a ui-sref="app.personsNew" md-no-ink class="md-button md-secondary">
      Add Person
    </a>
    
    <md-button ng-show="$personsCtrl.persons.length > 1" ng-click="$personsCtrl.match()" class="md-button md-primary">
      Match ❤️
    </a>
  </div>
</div>

<div ng-hide="$personsCtrl.persons.length" layout="row" layout-align="center center">
  <h2 class="md-display-1">There is no person 😕</h2>
</div>

<md-list ng-show="$personsCtrl.persons.length" flex>
  <md-list-item class="md-2-line md-with-secondary" ng-repeat="person in $personsCtrl.persons">
    <div class="md-list-item-text" layout="column">
      <h3>{{ person.name }}</h3>
      <h4>{{ person.email }}</h4>
    </div>

    <div class="md-secondary-container">
      <a ui-sref="app.personsEdit({id: person._id})" md-no-ink class="md-secondary md-icon-button md-button ng-scope md-ink-ripple">
        <md-icon md-svg-icon="mode-edit"></md-icon>
      </a>

      <md-button ng-click="$personsCtrl.destroy(person._id)" md-no-ink class="md-secondary md-icon-button md-button ng-scope md-ink-ripple">
        <md-icon md-svg-icon="delete"></md-icon>
      </md-button>
    </div>
  </md-list-item>
</md-list>
